.ud-tree-container {
  margin-top: 56px;
  position: relative;

  #canvas-tree {
    width: 100%;
    height: 92vh;
    padding: 16px;
    background-color: white;
    box-shadow: var(--shadow);
  }

  .ud-token-container {
    border: var(--border-default);
    border-radius: var(--border-radius);
    background-color: #fffff4;
    padding: 4px 8px;
    width: 60px;
    text-align: center;

    > span {
      display: block;
      width: 100%;
      font-size: var(--font-size-xxsmall);
      line-height: 10px;

      &.form {
        font-weight: var(--font-weight-large);
      }

      &.pos {
        color: var(--color-primary);
      }
    }
  }
}

.popover-token {
  min-width: 20vw;

  .popover-body {
    text-align: center;

    .input-value {
      line-height: 48px;
      height: 64px;
      margin-bottom: 16px;
      padding: 4px 16px;
      width: 100%;
      font-size: var(--font-size-subtitle);
      border-radius: var(--border-radius);
      text-align: center;
      border-width: 2px;
      border-color: var(--color-dark);
    }

    .input-group {
      height: 64px;
      margin-bottom: 16px;
      flex-wrap: nowrap;

      .input-value {
        border-right: none;
      }

      .input-group-text {
        cursor: pointer;
        background-color: var(--color-surface);
        border-left: none;
        border-width: 2px;
        border-color: var(--color-dark);
        border-top-right-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
