:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-large: 600;

  --font-size-xxsmall: 10px;
  --font-size-xsmall: 12px;
  --font-size-small: 14px;
  --font-size-body: 16px;
  --font-size-medium: 18px;
  --font-size-regular: 20px;

  --spacing-base: 8px;
  --spacing-small: calc(var(--spacing-base) + 2px);
  --spacing-medium: calc(var(--spacing-base) * 2);

  --color-primary: #185abd;
  --color-primary-alternative: #7c7c80;
  --color-secondary: #f3f2f1;
  --color-complementary: #14cc80;
  --color-background: #f9f9f9;
  --color-surface: #ffffff;
  --color-error: #e25c5a;
  --color-warning: #ffb40d;
  --color-confirmed: #14cc80;
  --color-disabled: #c8c6c4;
  --color-button-hover: #e1e0de;
  --color-dark: #000000;

  --shadow: 0 1px 12px rgba(0, 0, 0, 0.1);

  --border-default: 1px solid var(--color-disabled);
  --border-radius: 8px;
  --border-radius-button: 4px;
}
