@use '_variables.scss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--color-background);
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.floating-button {
  position: absolute;
  top: 10px;
  z-index: 1069; // 1 less than popovers
  background-color: transparent;
  border: none;

  svg {
    width: 24px;
    height: 24px;
  }
}
