@use '_variables.scss';

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: var(--color-background);
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.floating-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1069;

  > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      opacity: 0.8;
    }

    > span {
      font-size: 32px;
    }
  }
}
