.home-container {
  margin-top: 48px;

  .expression {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-body);
    white-space: nowrap;
    border: 0;
    height: 48vh;
  }

  .sentence-container {
    display: flex;

    .sentence {
      padding: 12px;
      font-size: var(--font-size-regular);
      line-height: 0.5;
    }
  }

  .conllu-container {
    margin-top: 16px;

    .card-header {
      display: flex;
      align-items: center;

      .buttons {
        margin-left: auto;
      }
    }

    .card-body {
      padding: 0px;
    }
  }

  .ud-sentence-container {
    margin-top: 16px;

    .card-body {
      padding: 0px;
    }

    .nav {
      display: flex;
      align-items: center;
      font-weight: var(--font-weight-large);
      padding-left: 8px;

      .nav-item {
        a {
          font-weight: var(--font-weight-large);
          color: var(--color-dark);

          &.active {
            background-color: var(--color-button-hover);
          }
        }
      }

      .buttons {
        margin: 0px 8px 0px auto;
      }
    }
  }

  .ud-viewer-container {
    margin-top: 4px;
  }
}
