.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border-default);
    flex-shrink: 0;
    padding-right: 16px;

    .Mui-selected,
    .nav-item:hover {
      font-weight: var(--font-weight-large);
    }
  }

  .content {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .tabpanel {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }

  .textarea-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .render-button {
      position: absolute;
      top: 8px;
      right: 8px;
      z-index: 1;
    }
  }

  .expression {
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size-body);
    white-space: nowrap;
    border: var(--border-default);
    padding: 14px;
    resize: none;
    box-sizing: border-box;
  }
}
