.tree-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  #canvas-tree {
    width: 100%;
    flex: 1;
    padding: 16px;
    background-color: white;
    box-shadow: var(--shadow);
  }

  .ud-token-container {
    border: var(--border-default);
    border-radius: var(--border-radius);
    background-color: #fffff4;
    padding: 4px 8px;
    width: 60px;
    text-align: center;

    > span {
      display: block;
      width: 100%;
      font-size: var(--font-size-xxsmall);
      line-height: 10px;

      &.form {
        font-weight: var(--font-weight-large);
      }

      &.pos {
        color: var(--color-primary);
      }
    }
  }
}
