.header-container {
  display: flex;
  padding: 0px 16px 0px 8px;
  background-color: var(--color-primary);
  height: var(--spacing-xxlarge);
  align-items: center;
  color: var(--color-surface);

  .menu {
    cursor: pointer;
    svg {
      width: 32px;
      height: 20px;
    }
  }

  .title {
    font-weight: var(--font-weight-large);
    margin-right: var(--spacing-medium);
    margin-left: var(--spacing-medium);
  }
}
