.conllu-viewer-container {
  #canvas {
    width: 100%;
    height: 50vh;
    padding: 16px;
    background-color: white;
    box-shadow: var(--shadow);

    .item-postag {
      fill: #000;
      font-size: var(--font-size-body);
    }

    .item-text {
      fill: #000;
      font-size: var(--font-size-body);
      font-style: italic;
      font-weight: var(--font-weight-light);
    }

    .active-arrow {
      stroke: var(--color-primary);
      fill: var(--color-primary);
      stroke-width: 3px;
    }

    .active-line {
      stroke: var(--color-primary);
      stroke-width: 3px;
    }

    .active-item {
      stroke: var(--color-primary);
      stroke-width: 3px;
    }
  }
}
