.conllu-viewer-container {
  overflow-x: auto;
  width: 100%;
  text-align: center;
  position: relative;

  #canvas {
    height: 40vh;
    padding: 16px 0px;
    background-color: white;

    .item-postag {
      fill: #000;
      font-size: var(--font-size-body);
    }

    .item-text {
      fill: #000;
      font-size: var(--font-size-body);
      font-style: italic;
      font-weight: var(--font-weight-light);
    }

    .active-arrow {
      stroke: var(--color-primary);
      fill: var(--color-primary);
      stroke-width: 3px;
    }

    .active-line {
      stroke: var(--color-primary);
      stroke-width: 3px;
    }

    .active-item {
      stroke: var(--color-primary);
      stroke-width: 3px;
    }
  }
}
