.token-details-modal {
  padding: 1rem;

  table {
    width: 100%;
    margin-bottom: 0;

    td {
      padding: 0.75rem;
      vertical-align: top;

      &:first-child {
        width: 30%;
        background-color: #f8f9fa;
      }

      &:last-child {
        width: 70%;
        word-break: break-word;
      }
    }
  }
}
