.language-container {
  margin-left: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .language-selected {
    font-size: 14px;
    display: flex;
    align-items: center;

    .name {
      margin-left: 12px;
    }
  }
}

.flag {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 24px !important;
  height: 24px !important;
}

.popover-language {
  .list-languages {
    width: 10vw;
    padding: 8px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 0px 7px 18px 3px rgba(217, 217, 217, 0.89);
    box-shadow: 0px 7px 18px 3px rgba(217, 217, 217, 0.89);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li span {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding-left: 8px;

        .name {
          margin-left: 12px;
          font-size: var(--font-size-small);
        }

        &:hover {
          background-color: var(--color-button-hover);
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .popover-language {
    width: 25vw;
  }
}
