.modal-container {
  display: flex;
  flex-direction: column;

  > .header {
    display: flex;
    align-items: center;
    border-bottom: var(--border-default);
    padding: 16px;

    .title {
      font-size: var(--font-size-regular);
      font-weight: var(--font-weight-large);
    }

    > .ds-icon {
      margin-left: auto;
      margin-bottom: auto;
    }
  }

  > .body {
    padding: 16px;
  }

  > .footer {
    display: flex;
    justify-content: end;
    margin-top: auto;
    gap: 10px;
    padding: 16px 16px 12px;
    border-top: var(--border-default);
  }
}
